<ion-view view-title="Holidayz">
  <ion-content>
      <div class="current-date" ng-model="today">
        {{ today }}{{ year }}
      </div>


    <div class="list">
      <div class="item holiday-title" ng-repeat="holiday in holidays">
        {{ holiday.name }}
  <!--       <div class="holiday-subtitle" ng-show="donuts">
          This is National Donut Day Subtitle.
        </div> -->
      </div>


    </div>




  </ion-content>
</ion-view>



<!--     <div class="list">
      <div class="item holiday-title" ng-init"donuts = false" ng-click="donuts = !donuts">
        National Donut Day
        <div class="holiday-subtitle" ng-show="donuts">
          This is National Donut Day Subtitle.
        </div>
      </div>

         <div class="item holiday-title" ng-init"jello = false" ng-click="jello = !jello">
        National Jello Day
        <div class="holiday-subtitle" ng-show="jello">
          This is National Jello Day Subtitle.
        </div>
      </div>


    </div> -->
