/* Empty. Add your own CSS if you like */
.current-date {
  font-size: 30px;
  text-align: center;
  margin: 10px;
  font-weight: bold;
}

.holiday-title {
  font-weight: bold;
}

.holiday-subtitle {
  font-weight: normal;
}

.calendar-list {
  margin-top: -202px;
}